<!DOCTYPE html>
<html lang="mg">
<% include ../bases/head.ejs%>

  <body>

    <% include ../bases/header.ejs%>
    <%- main%>
    <% include ../bases/mifandraisa.ejs%>
    <% include ../bases/footer.ejs%>
    <% include ../bases/scripts.ejs%>
  </body>

</html>
