<section class="mbr-section mbr-section-small mbr-footer" id="contacts1-4" data-rv-view="17" style="background-color: rgb(55, 56, 62); padding-top: 4.5rem; padding-bottom: 4.5rem;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div>
                    <a href="http://www.bahai.org/fr/" target="_blank">
                        <img src="assets/images/logo-132x128.png">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <p>Ity pejy ity dia natao ho
                    <br>fampafantarana ny finoana Bahai
                    <br>
                    <br>
                </p>
            </div>
            <div class="col-xs-12 col-md-3">
                <p>
                    <strong>Fifandraisana</strong>
                    <br> Email: andriamanamisoa@gmail.com</p>
            </div>
            <div class="col-xs-12 col-md-3">
                <strong>Rohy</strong>
                <ul>
                    <li>
                        <a href="http://www.bahai.org/" style="background-color: rgb(55, 56, 62); font-size: 1rem;" target="_blank">Pejy ofisialy bahai</a>
                    </li>
                    <li>
                        <a href="http://www.bahai-biblio.org/" target="_blank">Tranom-boky</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
