<header class="transparent">
<nav role="navigation">
    <ul class="nav-left">
        <li>
            <a href="/#content5-6">Fampianarana</a>
        </li>
        <li>
            <a href="http://www.bahai-biblio.org/" target="_blank">Famelabelarana</a>
        </li>
    </ul>
    <span class="main-logo">
        <a href="/">logo</a>
    </span>
    <ul class="nav-right">
        <li>
            <a href="/#testimonials1-10">Vavaka</a>
        </li>
        <li>
            <a href="/#form1-3">Fifandraisana</a>
        </li>
    </ul>
</nav>
<div class="humberger js-humberger">
    <div class="humberger__line humberger__line--1"></div>
    <div class="humberger__line humberger__line--2"></div>
    <div class="humberger__line humberger__line--3"></div>
</div>
<ul class="nav-mobile">
    <li class="nav-mobile__list">
        <a class="nav-mobile__link" href="/#content5-6">Fampianarana</a>
    </li>
    <li class="nav-mobile__list">
        <a class="nav-mobile__link" href="http://www.bahai-biblio.org/" target="_blank">Famelabelarana</a>
    </li>
    <li class="nav-mobile__list">
        <a class="nav-mobile__link" href="/#testimonials1-10">Vavaka</a>
    </li>
    <li class="nav-mobile__list">
        <a class="nav-mobile__link" href="/#form1-3">Fifandraisana</a>
    </li>
</ul>
</header>
