<head>
  <!-- Site made with Mobirise Website Builder v4.8.1, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.8.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo-128x124.png" type="image/x-icon">
  <meta name="description" content="Ny fampianaran'i Baha'u'llah">
  <title><%= page_title%></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/puritym/css/style.css">
  <link rel="stylesheet" href="assets/dropdown-menu/style.light.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  <style>
  footer{margin-top:30px;border-top:1px solid #eeeeee;padding-top:30px;color:#777777}.gallery-image img{display:block;max-width:100%;height:auto}*{box-sizing:border-box;margin:0;padding:0}body{background-color:#fff;color:#524b48;font-family:Roboto,sans-serif;font-size:18px;height:100%}.wrapper{margin:auto;max-width:1400px}ul{list-style-type:none}.humberger{cursor:pointer;position:absolute;padding:17px;margin:0;box-sizing:initial;top:0;left:0;width:20px;z-index:2}.humberger__line{background-color:#8A5E3C;height:2px;width:20px;margin-bottom:3px;transition:all 0.3s ease-in-out}.humberger__line--1.is-clicked{transform:translateY(5px) rotate(45deg);transform-origin:50% 50%}.humberger__line--2.is-clicked{transform:translateX(-100%);opacity:0}.humberger__line--3.is-clicked{transform:translateY(-5px) rotate(-45deg);transform-origin:50% 50%}@media (min-width: 769px){.humberger{display:none}}header{background:#fff;box-shadow:0 3px 5px #a9a9a9;height:50px;left:0;line-height:50px;margin-top:0;position:fixed;right:0;top:0;width:100%;z-index:10}header nav{margin:auto;text-align:center}header nav li{display:inline-block;padding:0 15px;vertical-align:top}header nav li a{color:#524b48;font-size:12px;font-weight:700;text-decoration:none}header nav li a:hover{color:#8A5E3C}@media (min-width: 769px){header nav li a{text-transform:uppercase}}header nav li a[data-active-menu="True"]{border-bottom:2px solid #8A5E3C;padding-bottom:26px}header nav .main-logo{position:absolute;left:calc(50% - 26px);transition:all 0.5s linear}header nav .main-logo a{background-color:transparent;background-image:url(../images/logo.svg);background-repeat:no-repeat;background-position:center center;background-size:100% auto;color:transparent;display:block;height:52px;line-height:52px;overflow-x:hidden;text-indent:120px;transition:all 0.3s linear;width:52px}header nav .main-logo--small{top:-15px}@media (min-width: 769px){header nav .main-logo--small{top:-30px}}header nav .main-logo--small a{transform:scale(0.6)}@media (min-width: 769px){header nav .main-logo--small a{transform:scale(0.5)}}header nav .nav-left{display:inline;position:absolute;right:calc(50% + 94px)}@media (min-width: 769px){header nav .nav-left{right:calc(50% + 99px)}}header nav .nav-right{display:inline;position:absolute;left:calc(50% + 95px)}@media (max-width: 768px){header nav .nav-left,header nav .nav-right{display:none}}header .nav-mobile{display:none;margin-top:48px;padding-top:20px;background:#f1f5f8;padding-left:20px;padding-right:20px;padding-bottom:40px}@media (min-width: 769px){header .nav-mobile{display:none}}header .nav-mobile__list{text-transform:uppercase;text-decoration:none;border-bottom:1px groove #524b48}header .nav-mobile__link{text-decoration:none;color:#524b48;font-weight:700}header .nav-mobile__link:hover{color:#8A5E3C}.show{display:block}
  </style>
  <link rel="stylesheet" href="styles/site.css" type="text/css">


</head>
