<header class="transparent">
<nav role="navigation">
    <ul class="nav-left">
        <li>
            <a href="/">Fandraisana</a>
        </li>
        <li>
            <a href="/nybahai">Ny bahai</a>
        </li>
        <li>
            <a href="/boky">Boky</a>
        </li>
    </ul>
    <span class="main-logo">
        <a href="">logo</a>
    </span>
    <ul class="nav-right">
        <li>
            <a href="/vavaka">Vavaka</a>
        </li>
        <li>
            <a href="/vaovao">Vaovao</a>
        </li>
        <li>
            <a href="/fifandraisana">Fifandraisana</a>
        </li>
    </ul>
</nav>
<div class="humberger js-humberger">
    <div class="humberger__line humberger__line--1"></div>
    <div class="humberger__line humberger__line--2"></div>
    <div class="humberger__line humberger__line--3"></div>
</div>
<ul class="nav-mobile">
    <li class="nav-mobile__list">
        <a class="nav-mobile__link" href="/">Fandraisana</a>
    </li>
    <li class="nav-mobile__list">
        <a class="nav-mobile__link" href="/nybahai">Ny bahai</a>
    </li>
    <li class="nav-mobile__list">
        <a class="nav-mobile__link" href="/boky">Boky</a>
    </li>
    <li class="nav-mobile__list">
        <a class="nav-mobile__link" href="/vavaka">Vavaka</a>
    </li>
    <li class="nav-mobile__list">
        <a class="nav-mobile__link" href="/vaovao">Vaovao</a>
    </li>
    <li class="nav-mobile__list">
        <a class="nav-mobile__link" href="/fifandraisana">Fifandraisana</a>
    </li>
</ul>
</header>


<!--
<section id="dropdown-menu-2btn-0" data-rv-view="0">

    <nav class="navbar navbar-dropdown transparent navbar-fixed-top bg-color">

        <div class="container">

            <div class="navbar-brand">
                <a href="https://bahaimalagasy.org" class="navbar-logo">
                    <img src="assets/images/logo-132x128.png" alt="Mobirise">
                </a>
                <a class="text-black" href="/">BAHAI MALAGASY</a>
            </div>

            <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                <div class="hamburger-icon"></div>
            </button>

            <ul class="nav-dropdown collapse pull-xs-right navbar-toggleable-sm nav navbar-nav" id="exCollapsingNavbar">
                <li class="nav-item">
                    <a class="nav-link link" href="/#testimonials1-10" aria-expanded="false">Vavaka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="/#form1-3" aria-expanded="false">Soratra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="/#form1-3" aria-expanded="false">Mifandraisa</a>
                </li>
            </ul>

        </div>

    </nav>

</section>
-->
