<section class="mbr-section mbr-section-full mbr-parallax-background mbr-after-navbar" id="header2-8" data-rv-view="2" style="background-image: url(assets/images/246712-p3od5w-554-2000x1125.jpg);">
    <div class="mbr-table-cell">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(255, 255, 255);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <h1 class="mbr-section-title display-1">Noharian'Andriamamanitra isika mba hahafantatra Azy sy hankalaza Azy&nbsp;</h1>
                    <p class="lead">
                        <strong>Ny bahai dia mino fa tokana Andriamanitra, </strong>
                        <br>
                        <strong>iray ihany ny finoana ary koa iray ihany ny olombelona</strong>
                    </p>

                </div>
            </div>
        </div>

    </div>
</section>
