<section class="mbr-section mbr-parallax-background col-undefined" id="content5-6" data-rv-view="5" style="background-image: url(assets/images/photo-3.jpg); padding-top: 9rem; padding-bottom: 9rem;">
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>
    <div class="container">
        <h3 class="mbr-section-title display-2">Andriamanitra mampahafantatra ny tenany tsikelikely amintsika</h3>
        <div class="lead">
            <p>Teo amin'ny tantara dia tsy nitsahatra ny mampianatra antsika Andriamanitra amin'ny alalan'ireo mpaminany maro.
                Ny fampianaran'ireo mpaminany ireo dia natao indrindra mba ho arakin'ny fahatakaran'ny olombelona,
                ka miaha mandroso hatrany izany fampianarana izany miaraka amin'ny fandrosoan'ny fahatakaran'ny olona. Ny
                fandrosoan'ny zanak'olombelona ho amin'ny fiainana araka ny sitrapon'Andriamanitra no nahatongavan'ireo mpaminany
                tety amintsika, ka anisan'izany i Abrahama, Moizy, Krishna, Boudha, Zoroastera, Jesoa, Mohamad, Bab ary koa Baha'u'llah.
                Ny fampianarana izay nentin'i Baha'u'llah moa dia ny hoe iray ihany ny fototry ny finoana hatrizay dia Andriamanitra
                ilay mpahary fa saingy miseho tsikelikely amintsika Izy arakaraka ny fahatarakantsika sy ny fivoarantsika;
                ohatran'ny hoe boky iray ihany fa misy toko maromaro.</p>
        </div>
    </div>
</section>
