<section class="mbr-section mbr-section-small mbr-parallax-background" id="testimonials1-10" data-rv-view="221" style="background-image: url(assets/images/mbr-1920x1280.jpg); padding-top: 4.5rem; padding-bottom: 4.5rem;">
    <div>

        <div class="container">
            <h2 class="mbr-section-title display-3 text-xs-center">Vavaka sy soratra masina</h2>

            <div class="row mbr-testimonial-cards">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-block">
                            <em>“Vavolombelona aho , ry Andriamanitro ô, fa noharinao mba hahafantatra Anao sy hankalaza Anao.
                                Manamarina aho, amin'izao fotoana izao, ny fahalemeko sy ny Fehefanao, ny fahantrako
                                sy ny Harenao”</em>
                        </div>
                        <div class="card-footer text-muted">
                            <div>Vavaka atao isan'andro
                                <br>
                            </div>
                            <small>Baha'u'llah</small>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-block">
                            <em>“O fils de l'homme! Si tu m'aimes, renonce à toi-même; et si tu cherches mon bon plaisir, ne
                                pense pas au tien. Ainsi tu mourras en moi et je vivrai en toi, éternellement”</em>
                        </div>
                        <div class="card-footer text-muted">
                            <div>Les Paroles cachées</div>
                            <small>Baha'u'llah</small>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-block">
                            <em>“O fils de l'homme! Voilé en mon être immémorial et dans l'antique éternité de mon essence, je
                                connaissais mon amour pour toi, aussi t'ai-je créé. J'ai gravé en toi mon image et je t'ai
                                révélé ma beauté”</em>
                        </div>
                        <div class="card-footer text-muted">
                            <div>Les Paroles cachées</div>
                            <small>Baha'u'llah</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
